<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
  <div class="o-header__row o-header__top">
    <div class="o-header__container">
      <div class="o-header__top-wrapper">

        <div class="o-header__top-column o-header__top-column--left">
          <a href="/" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open drawer menu">
            <span class="o-header__top-link-label">Menu</span>
          </a>
        </div>

        <div class="o-header__top-column o-header__top-column--center">
          <!--<div class="o-header__top-takeover"></div>-->
          <a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
            <span class="o-header__visually-hidden">Financial Times</span>
          </a>
        </div>

        <div class="o-header__top-column o-header__top-column--right">
          <!--<div class="o-header__top-takeover"></div>-->
          <a class="o-header__top-link o-header__top-link--myft" href="/myft" aria-label="My F T">
            <span class="o-header__visually-hidden">myFT</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>