<section>
  <div id="headline-search-container" role="search">
    <div id="headline-search">
      <form id="headline-search--form" action="/search?page=1" role="search" aria-label="Site search" method="GET">
        <label class="visually-hidden--label" for="headline-search-term-js">Search the
          <abbr title="Financial Times ">FT</abbr>
        </label>
        <input id="headline-search--term" id="headline-search-term-js" name="q" type="text
                    " placeholder="Search the FT" required></input>
        <button id="headline-search--submit" class="o-buttons o-buttons--primary" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</section>