<!DOCTYPE html>
<html class="core" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />
    <!--
      Perform your cuts the mustard test.
    -->
    <script>
        var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
        if (cutsTheMustard) {
            // Swap the `core` class on the HTML element for an `enhanced` one
            // We're doing it early in the head to avoid a flash of unstyled content
            document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
        }
    </script>

    <!--
      Hide any enhanced experience content when in core mode, and vice versa.
      Add any other inlined CSS here
    -->
    <style>
        .core .o--if-js,
        .enhanced .o--if-no-js {
            display: none !important;
        }
    </style>

    <!--
      This is where your CSS bundle is loaded, and we add any inline CSS
    -->

    <link rel="icon" type="image/png" href="/images/FTlogo32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/FTlogo194x194.png" sizes="194x194" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/FTlogo180x180.png" />

    <link rel="stylesheet" href="/css/bundle.css" />

    <!--
      Unconditionally load the Polyfill Service to provide the best support
      possible for modern web standards.
      Only features missing in this user agent will be filled.
      If you want, you can provide a list of features to polyfill, otherwise
      all features that can be polyfilled will be.
      See the Polyfill Service home page for more details:
      https://cdn.polyfill.io/
    -->
    <script src="https://polyfill.io/v2/polyfill.min.js"></script>

    <!--
      Load the main JavaScript bundle asynchronously
    -->
    <script>
        (function (src) {
            if (cutsTheMustard) {
                var o = document.createElement('script');
                o.async = o.defer = true;
                o.src = src;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(o, s);
            }
        }('/js/bundle.js'));
    </script>
</head>

<body>
    <!-- -->
    {{> header}}
    <!-- -->
    {{{body}}}
    <!--  -->
    {{>footer}}

</body>

</html>