{{>search}}
<section id="articles-container">
  <div class="o-teaser-collection">
    <h2 class="o-teaser-collection__heading o-teaser-collection__heading--small">
      <a class="o-teaser-collection__heading-link" href="#">{{articles.0.keyword}}</a>
    </h2>
    <ul id="list-of--results">
      {{>article}}
    </ul>
  </div>
</section>