// Output grid helper classes and data-attributes
$o-grid-is-silent: false;
$o-fonts-is-silent: false;
$o-ft-icons-is-silent: false;
$o-header-is-silent: false;
// Import Origami components
@import "o-grid/main";
@import "o-fonts/main";
@import "o-icons/main";
@import "o-header/main";
@import "o-footer/main";
@import "o-colors/main";
// Store the default FT sans-serif font stack in a variable
$sans-serif: oFontsGetFontFamilyWithFallbacks(MetricWeb);
html {
    @include oColorsFor(page, background);
    // Set a font family on the whole document
    font-family: $sans-serif;
    // Prevent navigation menus from creating
    // extra space on sides of the page
    overflow-x: hidden;
}

body {
    // Remove space around the document
    margin: 0;
}