// Output grid helper classes and data-attributes
$o-grid-is-silent: false;
$o-fonts-is-silent: false;
$o-ft-icons-is-silent: false;
$o-header-is-silent: false;
$o-footer-is-silent: false;
$o-card-is-silent: false;
$o-forms-is-silent: false;
$o-buttons-is-silent: false;
$o-teaser-is-silent: false;
$o-teaser-collection-is-silent: false;
// Import Origami components
@import "o-grid/main";
@import "o-fonts/main";
@import "o-icons/main";
@import "o-header/main";
@import "o-footer/main";
@import "o-colors/main";
@import "o-card/main";
@import "o-forms/main";
@import "o-buttons/main";
@import "o-teaser/main";
@import "o-teaser-collection/main";
// Store the default FT sans-serif font stack in a variable
$sans-serif: oFontsGetFontFamilyWithFallbacks(MetricWeb);
html {
    @include oColorsFor(page, background);
    // Set a font family on the whole document
    font-family: $sans-serif;
    // Prevent navigation menus from creating
    // extra space on sides of the page
    overflow-x: hidden;
}

body {
    // Remove space around the document
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#headline-search-container {
    min-height: 20vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 0;
    text-align: center;
    background: #ccc1b7;
    #headline-search {
        align-self: center;
        width: 90%;
    }
}

#headline-search--form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    .visually-hidden--label {
        position: absolute;
        clip: rect(0 0 0 0);
        margin: -1px;
        border: 0;
        overflow: hidden;
        padding: 0;
        width: 1px;
        height: 1px;
    }
}

#headline-search--term {
    background: white;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 50%;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#headline-search--submit {
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    background-clip: border-box;
    background-color: #0d7680;
    color: #ffffff;
    border-color: #0d7680;
    margin-left: 12px;
}

#headline-search--term,
#headline-search--submit {
    border-style: solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    font-family: MetricWeb, sans-serif;
    background-size: 21px 21px;
    min-height: 28px;
    min-width: 60px;
    padding: 6px 8px 6px 8px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 0;
    line-height: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    vertical-align: middle;
}

input:focus {
    outline: #0a5e66 solid 2px;
}

.latestNews-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;
    flex-wrap: wrap;
    .o-card {
        min-width: 350px;
        margin: 1em 0.5em;
        flex-basis: 350px;
        .o-card__image {
            padding: 1em;
            margin: 0 auto;
            img {
                max-width: 300px;
                max-height: 300px;
            }
        }
    }
}

.o-card__content {
    padding: 0.5em 1em;
    .card-tag a {
        color: #990f3d;
        font-family: MetricWeb, sans-serif;
        line-height: 20px;
        font-weight: 700;
        display: block;
        margin: 0 0 10px;
        text-decoration: none;
    }
    .card-title a {
        font-family: MetricWeb, sans-serif;
        display: block;
        margin: 0 0 10px;
        text-decoration: none;
        color: #33302e;
    }
    .latestNews-author {
        margin-bottom: 0.3em;
    }
}

#articles-container {
    background: inherit;
    margin: 1em 5em;
    #list-of--results {
        display: flex;
        flex-direction: column;
        li {
            border-bottom: 1px solid #ccc1b7;
            list-style: none;
            margin: 0.5em;
        }
    }
    .o-teaser-collection__heading {
        width: 25%;
    }
}

.o-teaser {
    display: flex;
    justify-content: space-around;
    .o-teaser__image-container {
        flex-basis: 20%;
        align-self: flex-end;
        .o-teaser__image-placeholder {
            padding-bottom: 0;
        }
        img {
            height: 120px;
            width: 80%;
        }
    }
    .o-teaser__content {
        padding-bottom: 1em;
        flex-basis: 75%;
    }
}

.article__tag {
    margin-top: 0;
    margin-bottom: 0.5em;
    a {
        color: #990f3d;
        text-decoration: none;
    }
    a:href {
        text-transform: lowercase;
    }
}

.o-teaser-collection__heading--small:before,
.o-teaser-collection__heading--small:after {
    width: 100%;
}

.o-buttons__pagination {
    text-align: center;
    #pagination_info {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
    #currentPage-Number,
    #totalPage-Number {
        font-weight: 700;
    }
    #currentPage-Number-value {
        display: none;
    }
    a {
        text-decoration: none;
    }
}

.o-footer {
    margin-top: 0;
}

.o-footer__copyright {
    margin-left: 20px;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

@media (max-width: "768px") {
    main {
        margin: 1em;
    }
    #headline-search-container {
        min-height: 10vh;
    }
    .latestNews-container {
        margin: 0;
        .o-card {
            max-width: 300px;
            flex-basis: 300px;
            .o-card__image img {
                max-width: 250px;
                max-height: 290px;
            }
        }
    }
    #articles-container {
        display: flex;
        flex-direction: column;
        margin: 1em 1.5em 1em 2em;
        .o-teaser-collection__heading {
            width: 95%;
            padding-left: 0.5em;
        }
        .o-teaser-collection__heading:before,
        .o-teaser-collection__heading:after {
            border-top: 5px solid #000;
        }
        #list-of--results {
            padding-left: 0;
            margin: 0;
        }
    }
    .o-teaser-collection {
        margin-bottom: 0.5em;
    }
    .o-teaser {
        flex-direction: row;
        justify-content: flex-start;
        .o-teaser__content {
            flex-basis: 90%;
        }
        .o-teaser__image-container {
            flex-basis: 0;
            display: none;
            position: absolute;
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}